body {
  background-color: #6c6c6c;
}
canvas#metro-map-canvas {
  width: 800px;
  height: 700px;
  margin: 0 auto;
  display: block;
}
canvas#myCanvas {
  width: 600px;
  height: 200px;
}

form {
  border: 2px solid #000;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background-color: #afafaf;
  color: #000;
  font-size: 16px;
}
#path {
  height: 100px;
  width: 100%;
}
